<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Dasboard</title>
  </head>
  <body>
    <h1 style="width: 100%">Welcome To The Test Dashboard</h1>
  </body>
</html>
